{
    "arrowParens": "always",
    "singleQuote": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "printWidth": 120,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "tailwindConfig": "./tailwind.config.js",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
