@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --accent-color: #f8ab1b;
    --background-color-primary: #201c1c;
    --background-color-secondary: #111111;
    --text-color-primary: white;
    --text-color-secondary: silver;
    --navbar-height: 60px;
}

.inter-normal {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-bold {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
